{% extends "layout.html" %}

{% block body %}
	<div>
		<label class="text" for="textInput">Paste a link to shorten:</label>
		<form action="/new_link" method="POST">
			<input name="url" class="textInput" type=text autofocus autocomplete="off" required><br>
			<input class="button" type=submit value="Shorten">
		</form>
	</div>
	<div>
		<p style="display:inline" class="attention">Note: Anyone can see any link you enter here on the </p><a class="attention" style="display:inline" href="active_links">Active links</a><p class="attention" style="display:inline"> page!</p>
	</div>
{% endblock %}
